[colors]
bg = #242433
fg = #e5e9f0

# polar night
pn-darker = #3b4252
pn-light = #44425e

# snow storm
sn-dark = #d8dee9
sn-light = #eceff4

# frost
f-mint = #85bfbe
f-bright = #977ecc
f-washed = #81a1c1
f-dark = #5e81ac

# aurora
a-green = #a3be8c
a-magenta = #db95b4
a-orange = #d08770
a-red = #bf616a

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 26
background = ${colors.bg}
foreground = ${colors.fg}
font-0 = JetBrainsMono Nerd Font:style=Bold:size=11;1
separator = "|"
separator-foreground = ${colors.pn-light}
modules-left = ewmh
modules-center = xwindow
modules-right = battery volume cpu vpn network date time

[module/battery]
type = internal/battery
full-at = 99
low-at = 15
battery = BAT0
adapter = AC
time-format = %H:%M
format-charging = <animation-charging>  <label-charging>
format-discharging = <ramp-capacity>  <label-discharging>
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-framerate = 400
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

[module/xwindow]
type = internal/xwindow
label = " %title:0:40:...%"

[module/ewmh]
type = internal/xworkspaces
label-active = " %name% "
label-active-background = ${colors.f-bright}
label-active-foreground = ${colors.pn-darker}
label-occupied = " %name% "
label-occupied-background = ${colors.pn-light}
label-urgent = " %name% "
label-urgent-background = ${colors.a-orange}
label-urgent-foreground = ${colors.win-urgent-fg}
label-empty = " %name% "
label-empty-foreground = ${colors.foreground}

[module/date]
type = internal/date
date = " %a, %b %d "
format-foreground = ${colors.a-magenta}

[module/time]
type = internal/date
date = " %H:%M:%S "

[module/cpu]
type = internal/cpu
interval = 0.5
label = " CPU: %percentage:2%% "
label-foreground = ${colors.f-bright}

[module/volume]
type = internal/pulseaudio
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
label-volume = " VOL: %percentage:2%% "
label-volume-foreground = ${colors.f-mint}

[module/network]
type = internal/network
interface = enp3s0
unknown-as-up = true

label-disconnected = " not connected "
label-disconnected-foreground = ${colors.a-red}
format-disconnected = <label-disconnected>

label-connected = " %{F#a3be8c}↓ %{F#d8dee9}%downspeed:9%%{F#4c566a} | %{F#88c0d0}↑ %{F#d8dee9}%upspeed:9%%{F-} "
format-connected = <label-connected>

[module/vpn]
type = internal/network
interface = tun0
unknown-as-up = true

label-disconnected = " vpn not connected "
label-disconnected-foreground = ${colors.a-red}
format-disconnected = <label-disconnected>

label-connected = " vpn connected "
label-connected-foreground = ${colors.a-green}
format-connected = <label-connected>

